/* HERO TEXT */
.hero {
  position: absolute;
  top: 50%;
  right: 5%;
  z-index: 2;
  text-align: end;
  transform: translateY(-40%);
  color: var(--color-neutral-hsl);
  opacity: 0.8;
}
.hero__header {
  font-size: var(--fs-500);
  text-transform: uppercase;
  font-weight: var(--fw-m);
  /* color: var(--color-dark-hsl); */
  line-height: 1em;
  letter-spacing: 0.02em;
}
.hero__subtitle {
  font-size: var(--fs-300);
  font-weight: var(--fw-sb);
  /* color: var(--color-neutral-hsl); */
  margin-block: 5rem 2.4rem;
  letter-spacing: 0.08em;
}
strong {
  font-size: var(--fs-1000);
  font-weight: var(--fw-bk);
  line-height: 1em;
}
.black-button {
  width: 11rem;
  height: 4.5rem;
  border: 0.3rem solid var(--color-dark-hsl);
  background-color: var(--color-dark-hsl);
  font-family: var(--ff-primary);
  color: var(--color-neutral-hsl);
  font-size: var(--fs-400);
  text-transform: uppercase;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
}
.black-button:hover {
  background-color: transparent;
  color: var(--color-dark-hsl);
}

/* SWIPER MAIN SECTION */
.swiper {
  position: relative;
  z-index: 0;
}
.swiper-wrapper {
  width: 100%;
}
.swiper-slide {
  display: block;
  width: 100%;
}
.swiper-slide > img {
  object-fit: cover;
}
.swiper-pagination {
  position: static;
  height: 8rem;
  padding-top: 3.2rem;
}
.swiper-pagination-bullet {
  --swiper-pagination-color: var(--color-neutral-hsl);
  --swiper-pagination-bullet-size: 1.6rem;
  --swiper-pagination-bullet-inactive-color: var(--color-neutral-hsl);
  --swiper-pagination-bullet-inactive-opacity: 0.3;
  --swiper-pagination-bullet-horizontal-gap: 1.2rem;
}

/* PARTNERS SECTION */
.partners {
  margin-block: 4.8rem;
}
.partners__box {
  background-color: var(--color-neutral-hsl);
  background-image: url(/assets/img/overlay_textures/Dirt_Textures/PNG/SG-Dirt-Texture-02.png);
  filter: drop-shadow(3px 4px 8px rgba(0, 0, 0, 0.25));
  padding: 7.6rem 22rem;
}
.partners__heading-box {
  margin: 0 auto 4rem;
}
.partners__img {
  display: flex;
  justify-items: center;
}
.partners__img > img {
  width: 42.8rem;
}

/* ABOUT US SECTION */
.about-us > * {
  background-color: var(--color-neutral-hsl);
  filter: drop-shadow(3px 4px 8px rgba(0, 0, 0, 0.25));
}
.about-us__heading-box {
  margin: 4.2rem auto;
}
.about-us__big {
  background-image: url(/assets/img/overlay_textures/Dirt_Textures/PNG/SG-Dirt-Texture-01.png);
  grid-column: span 6;
  grid-row: span 2;
  padding-block: 5.6rem;
}
.about-us__text {
  margin-inline: 11rem;
}
[class*="about-us__card"] {
  grid-column: span 3;
  grid-row: span 1;
  position: relative;
  padding-inline: 2.4rem;
}
figure {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
}
[class*="about-us__card"] figcaption {
  border: 0.3rem solid var(--color-neutral-hsl);
  color: var(--color-neutral-hsl);
  cursor: pointer;
}
.about-us__card-clothing {
  background-image: url(/assets/img/shop_photos/jacket2.png);
}
.about-us__card-apparel {
  background-image: url(/assets/img/shop_photos/choker2.png);
}
.about-us__card-kits {
  background-image: url(/assets/img/shop_photos/outfit.png);
}
.about-us__card-shoes {
  background-image: url(/assets/img/shop_photos/shoes.png);
}
[class*="about-us__card"]::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--color-dark-40a);
  z-index: -1;
}

/* TESTIMONIAL SECTION */
.testimonial {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column: span 6;
  grid-row: span 6;
  gap: 2.4rem;
}
.testimonial__card {
  grid-column: span 6;
  grid-row: span 1;
  background-color: var(--color-neutral-hsl);
  filter: drop-shadow(3px 4px 8px rgba(0, 0, 0, 0.25));
  color: var(--color-dark-700);
  padding-inline: 8rem 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/assets/img/overlay_textures/Dust&Scratches_Textures/JPG/5.jpg);
  background-blend-mode: difference;
}
.testimonial__text {
  width: 30.6rem;
  display: inline-block;
  margin: auto auto;
  position: relative;
}
.testimonial__text > i::before {
  position: absolute;
  color: var(--color-dark-700);
  font-size: var(--fs-700);
  transform: translate(-50%, -100%);
}
.testimonial__name {
  font-size: var(--fs-400);
  font-weight: var(--fw-sb);
  letter-spacing: 0.03em;
  font-style: italic;
  margin-top: 1em;
}
.testimonial__image {
  width: 15.2rem;
  aspect-ratio: 1;
  border-radius: 50%;
  object-fit: cover;
}

/* OUR LOCATION SECTION */
.our-location {
  grid-column: span 6;
  grid-row: span 6;
  background-color: var(--color-neutral-hsl);
  background-image: url(/assets/img/overlay_textures/Dirt_Textures/PNG/SG-Dirt-Texture-02i.png);
  filter: drop-shadow(3px 4px 8px rgba(0, 0, 0, 0.25));
  padding: 7.6rem 11rem;
}
.our-location__heading-box {
  margin: 4.2rem auto;
}
