/* HEADER SECTION */
.subheader {
  background-color: var(--color-neutral-hsl);
  background-image: url(/assets/img/overlay_textures/Dirt_Textures/PNG/SG-Dirt-Texture-02i.png);
}
.subheader__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 19.2rem;
}
.subheader__header {
  font-size: var(--fs-600);
  font-weight: var(--fw-eb);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.subheader__header::after {
  content: "";
  height: 0.5rem;
  width: 60%;
  background-color: var(--color-dark-hsl);
  display: block;
  transform: translateX(30%);
}
option,
select {
  font-size: var(--fs-400);
  font-weight: var(--fw-b);
  letter-spacing: 0.03em;
}

/* PRODUCTS SECTION */
.product {
  height: auto;
  margin-block: 8.8rem;
  row-gap: 8.8rem;
}
.product__card {
  grid-column: span 4;
  grid-row: span 1;
  height: 80rem;
  background-color: var(--color-dark-hsl);
  filter: drop-shadow(3px 4px 8px rgba(0, 0, 0, 0.25));
}
.product__card a {
  transition: filter 0.3s;
}
.product__card a:hover {
  filter: opacity(80%);
  transition: filter 0.3s;
}
.product__body {
  background-color: var(--color-neutral-hsl);
  background-image: url(/assets/img/overlay_textures/Dirt_Textures/PNG/SG-Dirt-Texture-02i.png);
  padding: 2.4rem;
}
.product__name {
  text-transform: uppercase;
}
.product__text {
  margin-top: 1.6rem;
  /* height: 4ex; */
}
.product__price {
  display: inline;
  font-size: var(--fs-750);
  font-weight: var(--fw-r);
  letter-spacing: 0.03em;
  font-style: normal;
}
.product__add-cart-button {
  width: 19.2rem;
  height: 4.8rem;
  background-color: var(--color-dark-hsl);
  color: var(--color-neutral-hsl);
  border: none;
  font-size: var(--fs-450);
  font-weight: var(--fw-b);
  letter-spacing: 0.06em;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s, border;
  text-transform: uppercase;
}
.product__add-cart-button:hover {
  background-color: transparent;
  color: var(--color-dark-hsl);
  border: 0.4rem solid var(--color-dark-hsl);
  
}
.product__tags {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.6rem;
}
/* PAGINATION SECTION */
.pagination {
  height: 12rem;
  background-color: var(--color-neutral-hsl);
  background-image: url(/assets/img/overlay_textures/Dirt_Textures/PNG/SG-Dirt-Texture-02.png);
  font-size: var(--fs-500);
  font-weight: var(--fw-b);
  letter-spacing: 0.03em;
  text-transform: capitalize;
  color: var(--color-dark-hsl);
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination__button {
  text-decoration: underline;
  margin-inline: 5.3rem;
  cursor: pointer;
}
.pagination__button:hover {
  color: var(--color-dark-700);
}
.pagination__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination__page-index {
  width: 4.8rem;
  height: 5.6rem;
  border: 0.3rem solid var(--color-dark-hsl);
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination__of {
  margin-inline: 0.8rem;
  text-transform: lowercase;
}
