body {
  font-family: "Inter", "Franklin Gothic Medium", sans-serif;
  font-weight: 400;
  background: var(--color-dark-700);
}
h2 {
  font-size: var(--fs-400);
  font-weight: 600;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

/* UTILITIES */
.fluid-wrapper {
  max-width: 100%;
  background: var(--color-dark-hsl);
  filter: drop-shadow(3px 4px 8px rgba(0, 0, 0, 0.25));
}
.wrapper {
  margin-inline: auto;
  max-width: 132rem;
  padding-inline: 2.4rem;
}
.default-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 2.4rem;
  height: 89.6rem;
  margin-block: 4.8rem;
  height: 89.6rem;
}

/* NAVBAR SECTION */
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: var(--color-dark-hsl);
}
.navbar__logo {
  height: 8rem;
  padding-block: 0.8rem;
  cursor: pointer;
}
.navbar__main {
  display: grid;
  grid-template-columns: repeat(4, 8.6rem);
  grid-template-rows: 8rem;
  gap: 2.4rem;
  letter-spacing: 0.04em;
  align-items: center;
}
.navbar__item {
  position: relative;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  color: var(--color-neutral-hsl);
  font-family: var(--ff-primary);
  font-size: var(--fs-400);
  font-weight: 700;
}
.navbar__chevron-icon {
  color: var(--color-neutral-hsl);
  margin-left: 0.2rem;
  background: transparent;
  cursor: pointer;
}
.navbar__item:hover:before {
  content: "";
  position: absolute;
  top: 2.1rem;
  height: 0.3rem;
  width: 100%;
  background-color: var(--color-neutral-hsl);
  animation: slide-in 0.3s forwards;
  transform-origin: left;
}
@keyframes slide-in {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
.navbar__cart {
  width: 11rem;
  height: 4.5rem;
  border: 0.3rem solid var(--color-neutral-hsl);
  background-color: transparent;
  font-family: var(--ff-primary);
  color: var(--color-neutral-hsl);
  font-size: var(--fs-400);
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
}
.navbar__cart:hover {
  background-color: var(--color-neutral-hsl);
  color: var(--color-dark-hsl);
}
.navbar__cart::after {
  content: "";
  display: block;
  width: 3rem;
  height: 3rem;
  background-color: var(--color-neutral-hsl);
  border-radius: 50%;
  transform: translate(300%, -130%);
}
/* HERO TEXT */
.hero {
  position: absolute;
  top: 32rem;
  right: 10rem;
  z-index: 1000;
}
.hero__header {
  font-size: var(--fs-500);
  text-transform: uppercase;
  font-weight: 500;
  color: var(--color-dark-hsl);
  line-height: 1em;
  letter-spacing: 0.02em;
}
.hero__subtitle {
  font-size: var(--fs-300);
  font-weight: 600;
  color: var(--color-neutral-hsl);
  margin-block: 5rem 2.4rem;
  letter-spacing: 0.08em;
}
strong {
  font-size: var(--fs-900);
  font-weight: 800;
  line-height: 1em;
  z-index: 1000;
}
.black-button {
  width: 11rem;
  height: 4.5rem;
  border: 0.3rem solid var(--color-dark-hsl);
  background-color: var(--color-dark-hsl);
  font-family: var(--ff-primary);
  color: var(--color-neutral-hsl);
  font-size: var(--fs-400);
  text-transform: uppercase;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
}
.black-button:hover {
  background-color: transparent;
  color: var(--color-dark-hsl);
}

/* SWIPER MAIN SECTION */

.swiper-wrapper {
  width: 100%;
  /* cursor: pointer; */
}
.swiper-slide {
  display: block;
  width: 100%;
}
.swiper-slide > img {
  object-fit: cover;
}

.swiper-pagination {
  position: static;
  height: 8rem;
  padding-top: 3.2rem;
}
.swiper-pagination-bullet {
  --swiper-pagination-color: var(--color-neutral-hsl);
  --swiper-pagination-bullet-size: 1.6rem;
  --swiper-pagination-bullet-inactive-color: var(--color-neutral-hsl);
  --swiper-pagination-bullet-inactive-opacity: 0.3;
  --swiper-pagination-bullet-horizontal-gap: 1.6rem;
}

/* PARTNERS SECTION */
.partners {
  margin-block: 4.8rem;
}
.partners__box {
  background-color: var(--color-neutral-hsl);
  background-image: url(../src/assets/img/overlay_textures/SG-Dirt-Texture-09.png);
  height: 30.2rem;
  filter: drop-shadow(3px 4px 8px rgba(0, 0, 0, 0.25));
  padding: 4rem 22rem;
}
.partners__heading-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19.6rem;
  height: 7.2rem;
  border: 0.3rem solid var(--color-dark-hsl);
  margin: 0 auto 4rem;
}
.partners__img {
  display: flex;
  justify-items: center;
}
.partners__img > img {
  width: 42.8rem;
}

/* ABOUT US SECTION */
.about-us {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2.4rem;
  height: 89.6rem;
  margin-block: 4.8rem;
}
.about-us__left {
  grid-column: span 6;
  grid-row: span 2;
  background-color: var(--color-neutral-hsl);
  filter: drop-shadow(3px 4px 8px rgba(0, 0, 0, 0.25));
}
.about-us__heading-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19.6rem;
  height: 7.2rem;
  border: 0.3rem solid var(--color-dark-hsl);
  margin: 4.2rem auto;
}
.about-us__img {
  margin: 4.2rem auto 0;
  width: 95%;
}
.about-us__text {
  font-size: var(--fs-400);
  font-weight: var(--fw-400);
  color: var(--color-primary-hsl);
  letter-spacing: 0.03em;
  margin-inline: 11rem;
}
.about-us__right {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  grid-column: span 6;
  grid-row: span 2;
  gap: 2.4rem;
}
.about-us__card {
  position: relative;
  grid-column: span 1;
  grid-row: span 1;
  /* place-self: center; */
  background-color: var(--color-dark-hsl);
  filter: drop-shadow(3px 4px 8px rgba(0, 0, 0, 0.25));
}
.about-us__card > img {
  object-fit: cover;
  height: 100%;
  filter: opacity(60%);
}
.about-us__card figcaption {
  position: absolute;
  z-index: 1000;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19.6rem;
  height: 7.2rem;
  border: 0.3rem solid var(--color-neutral-hsl);
  color: var(--color-neutral-hsl);
}
/* TESTIMONIAL SECTION */
.testimonial {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column: span 6;
  grid-row: span 6;
  gap: 2.4rem;
}
.testimonial__card {
  grid-column: span 6;
  grid-row: span 1;
  background-color: var(--color-neutral-hsl);
  filter: drop-shadow(3px 4px 8px rgba(0, 0, 0, 0.25));
}
.our-location {
  grid-column: span 6;
  grid-row: span 6;
  background-color: var(--color-neutral-hsl);
  filter: drop-shadow(3px 4px 8px rgba(0, 0, 0, 0.25));
}
/* LOCATION SECTION */
.our-location__heading-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19.6rem;
  height: 7.2rem;
  border: 0.3rem solid var(--color-dark-hsl);
  margin: 8rem auto;
}

/* FOOTER SECTION */
.footer {
  color: var(--color-neutral-hsl);
  padding-block: 5.6rem;
}
.footer__main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.footer__main ul li:first-child {
  margin-top: 4.8rem;
}
.footer__main > li {
  font-size: var(--fs-500);
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.footer__main > li li {
  font-size: var(--fs-400);
  font-weight: 600;
  text-transform: none;
  margin-bottom: 1.4rem;
  letter-spacing: 0.04em;
}
.footer__social-links i::before {
  display: inline-block;
  color: var(--color-neutral-hsl);
  width: 2.5rem;
}
.footer__break-line {
  max-width: 132rem;
  height: 0.5rem;
  background-color: var(--color-neutral-hsl);
  border-radius: 2rem;
  margin-block: 6.4rem 2.4rem;
}
.footer__copyright-text {
  display: block;
  font-size: var(--fs-300);
  font-weight: 400;
  text-align: right;
}
/* .footer__designer-text {
  display: block;
  font-size: var(--fs-300);
  font-weight: 400;
  text-align: left;
} */
