<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Whisker Rebel | Contact |</title>
    <!-- FAVICON -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/assets/img/favicon_package/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/img/favicon_package/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/assets/img/favicon_package/favicon-16x16.png"
    />
    <link rel="manifest" href="/assets/img/favicon_package/site.webmanifest" />
    <link
      rel="mask-icon"
      href="/assets/img/favicon_package/safari-pinned-tab.svg"
      color="#5bbad5"
    />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="style\reset.css" />
    <link rel="stylesheet" href="style\variables.css" />
    <link
      rel="stylesheet"
      href="/@fortawesome/fontawesome-free/css/all.min.css"
    />
    <link rel="stylesheet" href="style\common.css" />
    <link rel="stylesheet" href="style\contact.css" />

    <!-- SCRIPTS -->
    <script src="\app\main.js" defer></script>
  </head>
  <body>
    <%- include('header.ejs') %>
    <main>
      <section class="contact wrapper">
        <div class="contact-form">
          <h1 class="contact-form__header">CONTACT US</h1>
          <form action="/send-email" method="post" class="contact-form__grid">
            <div>
              <label for="firstName">FIRST NAME</label>
              <input
                class="contact-form__first-name"
                id="firstName"
                type="text"
                name="firstName"
                required
              />
            </div>
            <div>
              <label for="lastName">LAST NAME</label>
              <input
                class="contact-form__last-name"
                id="lastName"
                type="text"
                name="lastName"
                required
              />
            </div>
            <div>
              <label for="email">E-MAIL@</label>
              <input
                class="contact-form__e-mail"
                id="email"
                type="text"
                name="email"
                required
              />
            </div>
            <div>
              <label for="message">MESSAGE</label>
              <textarea
                class="contact-form__message"
                name="message"
                id="message"
                cols="30"
                rows="10"
                required
              ></textarea>
            </div>
            <div><input type="submit" value="SEND MESSAGE" class="contact__button" /></div>
          </form>
        </div>
      </section>
    </main>

    <%- include('footer.ejs') %>
  </body>
</html>
