<footer class="footer fluid-wrapper">
    <div class="footer__wrapper wrapper">
      <ul class="footer__main">
        <li class="footer__contact-us">
          CONTACT US
          <ul>
            <li class="footer__phone">+1(310)899-4461</li>
            <li class="footer__email">CONTACT@WHISKERREBEL.COM</li>
          </ul>
        </li>
        <li class="footer__address">
          ADDRESS
          <ul>
            <li class="footer__address-line">
              5205 SW 99th Ave Jasper,<br />Florida(FL), 32052
            </li>
          </ul>
        </li>
        <li class="footer__social-links">
          SOCIAL MEDIA
          <ul>
            <li class="footer__instagram">
              <a href=""
                ><i class="fas fa-brands fa-instagram"></i>Instagram</a
              >
            </li>
            <li class="footer__facebook">
              <a href=""><i class="fas fa-brands fa-facebook"></i>Facebook</a>
            </li>
            <li class="footer__discord">
              <a href=""><i class="fas fa-brands fa-discord"></i>Discord</a>
            </li>
            <li class="footer__twitter">
              <a href=""><i class="fas fa-brands fa-twitter"></i>Twitter</a>
            </li>
          </ul>
        </li>
      </ul>

      <div class="footer__break-line"></div>
      <small class="footer__copyright-text"
        >©2023 Whisker Rebel Inc. All Right Reserved Under<br />Penal Code
        101. of US.
      </small>
      <!-- <small class="footer__designer-text"
      >humbly designed by J.De La Cruz
    </small> -->
    </div>
  </footer>