<header class="fluid-wrapper">
  <nav class="navbar wrapper">
    <a href="/">
      <img
        class="navbar__logo"
        src="\assets\img\official_logo\logo_text.png"
        alt="logo"
      />
    </a>
    <ul class="navbar__main">
      <li><a class="navbar__item" href="/">HOME</a></li>
      <li class="navbar__shop-menu">
        <a class="navbar__item">SHOP</a
        ><i
          class="fas fa-sharp fa-regular fa-circle-chevron-down fa-1x navbar__chevron-icon"
        ></i>
        <ul id="shop-submenu">
          <li>
            <a href="/mens_clothing" class="navbar__submenu-item"
              >MEN'S CLOTHING</a
            >
          </li>
          <li>
            <a href="/womens_clothing" class="navbar__submenu-item"
              >WOMEN'S CLOTHING</a
            >
          </li>
          <li>
            <a href="/shoes" class="navbar__submenu-item">SHOES</a>
          </li>
          <li>
            <a href="/apparel" class="navbar__submenu-item">APPAREL</a>
          </li>
        </ul>
      </li>
      <li>
        <a id="about-usButton" class="navbar__item" href="/#about-us">ABOUT</a>
      </li>
      <li><a class="navbar__item" href="/contact">CONTACT</a></li>
    </ul>
    <button class="navbar__cart">CART</button>
    <div class="cart-dropdown">
      <div class="cart-dropdown__heading-box"><h2>YOUR CART</h2></div>
      <ul class="cart-dropdown__list">
        <% if (cartItems.length === 0) { %>
        <h2 class="cart-dropdown__product-name">Your cart is empty!</h2>
        <% } else { %> <% cartItems.forEach(item => { %>
        <li class="cart__product">
          <span>x1</span>
          <div class="cart-dropdown__product-name">
            <a href="/product/<%= item._id %>"><h2><%= item.name%></h2></a>
          </div>
          <div class="cart-dropdown__product-price"><span>$<%= item.price %></span></div>
          <form action="/remove-from-cart/<%= item._id %>" method="POST">
            <button type="submit" class="cart__trashcan">
              <i class="fas fa-sharp fa-regular fa-trash-can"></i>
            </button>
          </form>
        </li>
        <% }) %> <% } %>
      </ul>
      <button
        onclick="window.location.href='/cart'"
        class="cart-dropdown__button"
      >
        GO TO CART
      </button>
    </div>
  </nav>
</header>
