<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Whisker Rebel | HomePage |</title>
    <!-- FAVICON -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/assets/img/favicon_package/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/img/favicon_package/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/assets/img/favicon_package/favicon-16x16.png"
    />
    <link rel="manifest" href="/assets/img/favicon_package/site.webmanifest" />
    <link
      rel="mask-icon"
      href="/assets/img/favicon_package/safari-pinned-tab.svg"
      color="#5bbad5"
    />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="\style\reset.css" />
    <link rel="stylesheet" href="\style\variables.css" />
    <link
      rel="stylesheet"
      href="\@fortawesome\fontawesome-free\css\all.min.css"
    />
    <link rel="stylesheet" href="\swiper\swiper-bundle.min.css" />
    <link rel="stylesheet" href="\style\common.css" />
    <link rel="stylesheet" href="\style\main.css" />
    <!-- SCRIPTS -->
    <script src="\swiper\swiper-bundle.min.js" defer></script>
    <script src="\app\swiper.js" defer></script>
    <script src="\app\main.js" defer></script>
  </head>
  <body>
    <%- include('header.html') %>
    <main>
      <section class="hero">
        <h1 class="hero__header">
          READY TO<br />
          <strong>STAND OUT</strong><br />FROM THE CROWD?
        </h1>
        <p class="hero__subtitle">
          Explore our collection of alternative fashion <br />
          and make a statement today!
        </p>
        <button class="black-button" href="/mens_clothing">EXPLORE</button>
      </section>
      <section class="swiper mySwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="\assets\img\hero_image\hero1a.png" alt="image" />
          </div>
          <div class="swiper-slide">
            <img src="\assets\img\hero_image\hero4a.png" alt="image" />
          </div>
          <div class="swiper-slide">
            <img src="\assets\img\hero_image\hero9a.png" alt="image" />
          </div>
          <div class="swiper-slide">
            <img src="\assets\img\hero_image\hero6a.png" alt="image" />
          </div>
          <div class="swiper-slide">
            <img src="\assets\img\hero_image\hero10a.png" alt="image" />
          </div>
          <div class="swiper-slide">
            <img src="\assets\img\hero_image\hero8a.png" alt="image" />
          </div>
        </div>
        <div class="swiper-pagination fluid-wrapper"></div>
      </section>
      <section class="partners wrapper">
        <div class="partners__box">
          <div class="partners__heading-box"><h2>WE WORK WITH</h2></div>
          <div class="partners__img">
            <img src="\assets\img\brands_img\brandsHORnobg.png" alt="brands" />
            <img src="\assets\img\brands_img\brandsHORnobg2.png" alt="brands" />
          </div>
        </div>
      </section>
      <section class="about-us wrapper default-grid">
        <figure class="about-us__card-clothing">
          <figcaption class="about-us__cards-heading-box">
            <h2>CLOTHING</h2>
            <p class="about-us__text-clothing">
              We offer to our customers a line of products crafted with premium
              fabrics and bold modern designs that let you express your unique
              style and stand out from the crowd.
            </p>
          </figcaption>
        </figure>
        <div class="about-us__big">
          <img
            class="about-us__img"
            src="\assets\img\official_logo\official logo.png"
            alt="big-logo"
          />
          <div class="about-us__heading-box"><h2>ABOUT US</h2></div>
          <p class="about-us__text">
            We are the alternative fashion brand that brings out the rebel in
            you! Our unique designs are made to stand out from the crowd and
            express your individuality. We use only high-quality materials and
            sustainable green practices. Join the rebellion and shop now!
          </p>
        </div>
        <figure class="about-us__card-apparel">
          <figcaption class="about-us__cards-heading-box">
            <h2>APPAREL</h2>
            <p class="about-us__text-apparel">
              Elevate your style with Whisker Rebel's accessories. We use
              premium materials and innovative designs to create items that are
              both comfortable and unique.
            </p>
          </figcaption>
        </figure>
        <figure class="about-us__card-shoes">
          <figcaption class="about-us__cards-heading-box">
            <h2>SHOES</h2>
            <p class="about-us__text-shoes">
              Step up your shoe game with Whisker Rebel's unique designs! Our
              shoes are crafted from high-quality materials, with attention to
              detail and comfort.
            </p>
          </figcaption>
        </figure>
        <figure class="about-us__card-kits">
          <figcaption class="about-us__cards-heading-box">
            <h2>KITS</h2>
            <p class="about-us__text-kits">
              Our alternative fashion sets are designed to make you stand out
              from the crowd. Each piece is crafted with high-quality materials
              and innovative designs.
            </p>
          </figcaption>
        </figure>
      </section>

      <div class="wrapper default-grid">
        <section class="testimonial">
          <figure class="testimonial__card">
            <blockquote class="testimonial__text">
              <i class="fas fa-sharp fa-solid fa-quote-left"></i>
              <h4 class="testimonial__quote">
                Their unique styles and fabrics are a must-have for any fashion
                lover!
              </h4>
              <figcaption class="testimonial__name">
                Julia Taylor-Joy
              </figcaption>
            </blockquote>
            <img
              class="testimonial__image"
              src="/assets/img/testimonials_photo/testimonial2.png"
              alt=""
            />
          </figure>
          <figure class="testimonial__card">
            <blockquote class="testimonial__text">
              <i class="fas fa-sharp fa-solid fa-quote-left"></i>
              <h4 class="testimonial__quote">
                Eco-friendly and edgy clothing. Love my purchase!
              </h4>
              <figcaption class="testimonial__name">Sarah Webster</figcaption>
            </blockquote>
            <img
              class="testimonial__image"
              src="/assets/img/testimonials_photo/testimonial3.png"
              alt=""
            />
          </figure>
          <figure class="testimonial__card">
            <blockquote class="testimonial__text">
              <i class="fas fa-sharp fa-solid fa-quote-left"></i>
              <h4 class="testimonial__quote">
                I feel unique in my outfits! Thanks, Whisker Rebel!
              </h4>
              <figcaption class="testimonial__name">Gerard Burton</figcaption>
            </blockquote>
            <img
              class="testimonial__image"
              src="/assets/img/testimonials_photo/testimonial5.png"
              alt=""
            />
          </figure>
        </section>
        <section class="our-location">
          <div class="our-location__card">
            <a>
              <img
                src="\assets\img\shop_photos\shop_interior4.png"
                alt="photo"
                class="our-location__image"
              />
            </a>
            <div class="our-location__heading-box"><h2>OUR LOCATION</h2></div>
            <p class="our-location__text">
              Step inside the Whisker Rebel store and be transported to a world
              of edgy, alternative fashion. Our industrial-chic interiors
              feature exposed brick walls, sleek steel fixtures, and moody
              lighting that perfectly sets the mood for our rebellious
              collection. Immerse yourself in the ultimate shopping experience!
              Come visit us and unleash your inner rebel!
            </p>
          </div>
        </section>
      </div>
    </main>
    <%- include('footer.html') %>
  </body>
</html>
