<div class="product__card">
  <a href=""
    ><img
      src="\assets\img\model_products\mod32.png"
      alt="product"
      class="product__image"
  /></a>
  <div class="product__body">
    <p class="product__text"><%= product.description %></p>
    <div class="product__tags">
      <span class="product__price"><%= product.price %></span>
      <button class="product__add-cart-button">ADD TO CART</button>
    </div>
  </div>
</div>
